---
import Greeting from '../components/Greeting'
import Base from '../layouts/Base.astro'
const title = 'Home Page'
---

<Base title={title}
  ><h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />
</Base>
