---
import Social from './Social.astro'
---

<footer>
  <p>
    <Social platform='github' username='nine96as' />
    <Social platform='twitter' username='nine96as' />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
