---
const platforms = ['github', 'linkedin']
const usernames = ['nine96as', 'nine96']
---

<footer>
  <p>
    <a href={`https://www.${platforms[0]}.com/${usernames[0]}`}>GitHub</a>
    <a href={`https://www.${platforms[1]}.com/in/${usernames[1]}/`}>LinkedIn</a>
  </p>
</footer>
